#preloader {
  display: flex;
  background-color: inherit; /* Fallback for existing overrides in child. Replaced by bg-body class */
}

/* Hide preloader on IE10+ */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  #preloader {
    display: none;
  }
}
